<!DOCTYPE html>
<html ng-app="appCliente">
<head>
<base href="/" />
<meta charset="UTF-8" />
<title>Insert title here</title>
<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" />
<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js" />
<script src="./js/app2.js" />
<script src="./js/controller/cliente_controller.js" />
<script src="./js/controller/login_controller.js" />
</head>
<body >
	Template

	
	<a href="/#/clients">Clientes</a>
	<a href="/#/login">Login</a>


	<div ng-view="ng-view"></div>


</body>
</html>